In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# Reading movies file
movies = pd.read_csv('movies.csv', sep=',', encoding='latin-1', usecols=['title','genres'])

In [4]:
movies.head()

                         title                                       genres
0                    Toy Story  Adventure|Animation|Children|Comedy|Fantasy
1                      Jumanji                   Adventure|Children|Fantasy
2             Grumpier Old Men                               Comedy|Romance
3            Waiting to Exhale                         Comedy|Drama|Romance
4  Father of the Bride Part II                                       Comedy

In [17]:
df = movies['title']
df.head()

0                      Toy Story
1                        Jumanji
2               Grumpier Old Men
3              Waiting to Exhale
4    Father of the Bride Part II
Name: title, dtype: object

In [5]:
# Break up the big genre string into a string array
movies['genres'] = movies['genres'].str.split('|')
# Convert genres to string value
movies['genres'] = movies['genres'].fillna("").astype('str')

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(movies['genres'])
tfidf_matrix.shape

(310, 90)

In [7]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
cosine_sim[:4, :4]

array([[1.        , 0.31599354, 0.06314655, 0.05294922],
       [0.31599354, 1.        , 0.        , 0.        ],
       [0.06314655, 0.        , 1.        , 0.36859745],
       [0.05294922, 0.        , 0.36859745, 1.        ]])

In [8]:
# Build a 1-dimensional array with movie titles
titles = movies['title']
indices = pd.Series(movies.index, index=movies['title'])

# Function that get movie recommendations based on the cosine similarity score of movie genres
test = def genre_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:21]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

NameError: name 'title' is not defined

In [9]:
genre_recommendations('Jumanji').head(20)

53                           Indian in the Cupboard, The
109                           NeverEnding Story III, The
7                                           Tom and Huck
119                         Amazing Panda Adventure, The
131                                               Casper
204          Far From Home: The Adventures of Yellow Dog
141                     Free Willy 2: The Adventure Home
222                        Kid in King Arthur's Court, A
95                                Muppet Treasure Island
301                               Baby-Sitters Club, The
209                                                Gordy
0                                              Toy Story
40                                         Mortal Kombat
273                            Secret of Roan Inish, The
169                                         Three Wishes
160                                             Reckless
12                                                 Balto
276                                    Santa Clause, The
28     City of Lost Children, The (CitÂŽ des enfants p...
26                                          Now and Then
Name: title, dtype: object

In [18]:
pd.to_pickle(s,r'/Users/rizzii/Documents/python/django/src/hariyobazar/new_model.pickle')

title = pd.read_pickle(r'/Users/rizzii/Documents/python/django/src/hariyobazar/new_model.pickle')

NameError: name 'self' is not defined